<%= turbo_frame_tag "contact_tasks" do %>
  <h3> l(:label_issues_title) </h3>
  <% if @issues.present? %>
    <%= render partial: 'issues/list_simple', locals: { issues: @issues } %>
  <% else %>
    <%= render partial: 'common/empty_state', locals: { message: l(:label_no_issues_for_contact) } %>
  <% end %>
<% end %>
